@import "@/styles/varribles";

.main {
  display: flex;
  flex-direction: column;
  gap: 25px;
  text-align: center;

  .question {
    position: relative;
    padding: 32px;
    border-radius: 20px;
    background: $gold-black-color;

    h3 {
      font-size: 24px;

      span {
        font-size: 38px;
      }
    }

    .mic {
      z-index: 1;
      position: absolute;
      top: 10px;
      right: 10px;
    }

    .coin {
      position: absolute;
      bottom: 10px;
      right: 10px;
      display: flex;
      align-items: center;
      gap: 4px;
      color: $gold-color;
      font-size: 24px;
    }

    &::before {
      content: "";
      z-index: -1;
      width: calc(100% + 2px);
      height: calc(100% + 2px);
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      border-radius: 20px;
      background: $gradient-gold;
    }
  }

  .lists {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .list {
      display: flex;
      position: relative;
      justify-content: space-between;
      align-items: center;
      padding: 15px;
      border-radius: 20px;
      border: 1px solid $list-border-color;
      background-color: $list-color;

      .info {
        cursor: pointer;
        position: absolute;
        right: 8px;
        top: -10px;

        &:hover {
          div {
            opacity: 1;
            visibility: visible;
          }
        }

        div {
          transition: 0.3s ease;
          opacity: 0;
          visibility: hidden;
          position: absolute;
          font-size: 13px;
          top: -60px;
          left: -135px;
          width: 178px;
          background-color: $blue-color;
          padding: 10px;
          border-radius: 10px;

          &::before {
            content: "";
            position: absolute;
            bottom: -8px;
            right: 20px;
            width: 0;
            height: 0;
            border-left: 12px solid transparent;
            border-right: 12px solid transparent;
            border-top: 10px solid $blue-color;
          }
        }
      }

      &.true {
        background-color: $success-color;
      }

      &.false {
        background-color: $error-color !important;
      }

      &.small {
        h4 {
          font-size: 18px;
          padding-top: 12px;
        }
      }

      h4 {
        padding-top: 4px;
        font-size: 24px;
        margin-left: auto;
        margin-right: auto;
        max-width: 220px;
      }

      span {
        position: absolute;
        left: 10px;
        top: 10px;
        z-index: 2;
        color: $gray-color;
        font-size: 12px;
        height: 40px;
      }
    }
  }

  .bottom_actions {
    display: flex;
    align-items: center;

    .questions {
      margin-left: auto;
      display: flex;
      align-items: center;
      gap: 4px;

      p {
        font-size: 26px;
      }

      span {
        color: $gray-color;
      }
    }

    .next {
      margin-left: auto;
      margin-top: 5px;
    }
  }

  .test_content {
    margin-top: 30px;

    .desc {
      margin-top: 8px;
      font-size: 24px;
      color: $gray-color;
    }

    .question_score {
      margin-top: 6px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;
      font-size: 32px;
      color: $blue-color;
    }

    .conditions {
      margin-top: 20px;

      h5 {
        font-size: 24px;
      }

      .badges {
        margin-top: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6px;
      }

      .result {
        padding: 10px;
        border-radius: 5px;
        transform: skew(-1deg);
        border: 1px solid $list-border-color;
        margin: 25px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6px;
        background-color: $badge-color;
        max-width: 205px;
        width: 100%;

        h5 {
          font-size: 24px;
        }

        .result_info {
          display: flex;
          align-items: center;
          gap: 6px;
        }
      }
    }
  }
}

.time {
  background-color: $black-color;
  padding: 5px;
  left: 15px;
  top: 38px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  position: fixed;
  z-index: 99999;
  font-size: 24px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.infoModal_content {
  margin-top: 10px;

  .answer_true,
  .answer_false,
  .true h5 {
    max-width: 228px;
    margin: 5px auto;
    color: $black-color;
    border-radius: 10px;
    padding: 14px 10px;
    font-size: 32px;
    display: flex;
    align-items: center;
    gap: 6px;
    justify-content: center;

    span {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .answer_true {
    background-color: $success-color;
  }

  .answer_false {
    background-color: $error-color;
  }

  .true {
    display: flex;
    align-items: center;

    &.active h5 {
      color: $white-color;
      background-color: transparent;
    }

    h5 {
      color: $black-color;
      background-color: $success-color;
      width: 100%;
      padding: 8px;
    }

    img {
      margin-left: -17px;
    }
  }

  .transcription {
    margin-top: 12px;

    p {
      font-size: 20px;
      color: $gray-color;
    }

    h4 {
      font-size: 32px;
      margin-top: 4px;
    }
  }

  .example {
    margin-top: 12px;
    background-color: $list-color;
    border: 1px solid $list-border-color;
    border-radius: 10px;
    padding: 10px;

    span {
      color: $success-color;
    }

    .title {
      font-size: 20px;
      color: $gray-color;
      margin-bottom: 8px;
    }

    .example_1 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 4px;

      p {
        margin-left: auto;
        margin-right: auto;
        font-size: 20px;
        max-width: 200px;
      }
    }

    .example_2 {
      margin-top: 10px;
      font-size: 20px;
    }
  }
}
