$black-color: #000000;
$white-color: #ffffff;
$primary-color: #d64b49;
$secondary-color: #bd6f01;
$gray-color: #626574;
$purple-color: #944ecb;
$list-color: #121314;
$list-active-color: #24262b;
$list-border-color: #333540;
$bottom-bar-color: #212227;
$bottom-bar-active-color: #1a1c21;
$gold-color: #c67d01;
$gold-black-color: #271e16;
$gold-50-color: #3a3129;
$btn-color: #3c3e47;
$badge-color: #202020;
$success-color: #6bb577;
$error-color: #b56b6b;
$card-color: #6265744d;
$active-card-color: #7473624d;
$gradient-gold: linear-gradient(228.64deg, #A0550A 5.49%, #DAC480 37.42%, #4B2605 67.23%, #D3B454 81.28%, #703105 90.65%);
$modal-color: #262626;
$blue-color: #4684aa;

