@import "@/styles/varribles";

.main {
  text-align: center;

  .img {
    width: 88px;
  }
  .title {
    font-size: 36px;
    margin-top: 10px;
  }

  .subtitle {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;

    h4 {
      color: $gray-color;
      font-size: 16px;
    }

    img {
      width: 25px;
    }
  }

  .users {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    list-style-type: none;
    max-height: 55dvh;
    overflow-y: auto;
    padding: 5px 3px;

    .user {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 8px 12px;
      font-size: 24px;

      &::after {
        content: "";
        position: absolute;
        border-radius: 10px;
        z-index: -1;
        background: $list-color;
        transform: skew(-3deg);
        border: 1px solid $list-border-color;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
      }

      &:nth-child(1) {
        &::after {
          background-color: #271e16;
        }
      }

      &:nth-child(-n + 3) {
        &::after {
          border: none;
        }

        &::before {
          content: "";
          position: absolute;
          left: 50%;
          top: 50%;
          z-index: -2;
          transform: translate(-50%, -50%) skew(-3deg);
          width: calc(100% + 2px);
          height: calc(100% + 2px);
          border-radius: 10px;
          background: $gradient-gold;
        }
      }

      .user_text {
        display: flex;
        align-items: center;
        gap: 8px;

        .user_avatar {
          margin-left: 5px;
          border-radius: 50%;
        }
      }

      .user_score {
        color: $gold-color;
      }
    }
  }
}
